@import './arrow.css';

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html,
body {
    overflow: hidden;
}

html {
    scroll-snap-type: y mandatory;
}

a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 8px;
    pointer-events: all !important;
}

body {
    overflow-y: scroll;
    height: 100vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.sections-wrapper {
    position: relative;
    z-index: 5;
}

section {
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero {
    background: transparent;
}

.left {
    top: 33%;
    left: 10%;
}

.link-icon {
    color: #c0c0c0;
    filter: brightness(0) invert(1) opacity(0.7);
    pointer-events: all !important;
}

.content {
    position: absolute;
    width: 30%;
    padding: 40px;
    color: #e0e0e0;
    font-family: 'Monaco', 'Menlo', monospace;
    pointer-events: none;
}

.content h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #42DAED;
}

.content p {
    font-size: 1rem;
    line-height: 1.6;
    color: #c0c0c0;
}

.content .with-icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.content .icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}
.small {
    width: 16px !important; 
    height: 16px !important;
}

.right {
    top: 20%;
    right: 7.5%;
    background: rgba(0, 0, 0, 0.33);
    backdrop-filter: blur(8px);
    border-radius: 12px;
}

.subheader  {
    font-size: 1.5rem;
    font-weight: 500;
    color: #42DAED;
    margin-bottom: 20px;
}

.about {
    font-size: 10px;
    line-height: 1;
}

.stack {
    display: flex;
    width: fit-content;
}

.large-left {
    top: 55%;
    right: 7.5%;
    width: fit-content !important;
}

.category {
    margin-right: 20px;
}

.card-icon {
    color: #42DAED;
    filter: brightness(0) saturate(100%) invert(1) sepia(1) saturate(10000%) hue-rotate(180deg);
}

.skill-card {
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(66, 218, 237, 0.5);
    border-radius: 8px;
    padding: 5px;
    margin: 10px;
    text-align: center;
    align-items: center;
    margin-left: 0;
    width: fit-content;
}

.card-text {
    color: #c0c0c0;
    font-family: 'Monaco', 'Menlo', monospace;
    font-size: 0.8rem;
    margin-left: 5px;
}